[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
numpy = "*"
opencv-python-headless = "==4.2.0.32"
cvzone = "*"
mediapipe = "*"
gunicorn = "*"
Flask = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
