{% extends "base.html" %}
{% block content %}
<!--<body onLoad="start();">-->
<link rel="stylesheet" href="{{ url_for('static', filename='real_time.css')}}" />
<!--<link rel="stylesheet" href="../static/frontend/real_time.css">-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
<div class="wrapper">
<div class="realcamera" >
    <div id="my_camera">
    real camera here
        <</div>
</div>

<div class="snap" >
    <div id="results">
    snapshot here
        </div>
</div>
    <div class="lastest" >
        <div id="lastest_result">
        prediction here
            </div>
    </div>
</div>

<div class="button_wrapper">
    <button class="predict_button" id="btn" type="button" onclick="end()">end</button>
    <button class="snap_button" id="btn2" type="button" onclick="start()">start</button>

</div>
    <div class="predicted" >
        <div id="preview">
        Timeline
            </div>
    </div>
<script src="{{ url_for('static', filename='real_time_video.js')}}"></script>
{% endblock content %}