body{
background: #c94b4b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;

    margin: 1%;
}
.realcamera{
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin: 1%;
background: #00c3ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.snap{
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 1%;

background: #ef32d9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.lastest{
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 1%;

background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.predicted{

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 5%;
    padding: 2%;
background: #e1eec3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.button_wrapper{
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    margin: 1%;
}

.snap_button{
    width: 20%;!important;
    margin: 2%;!important;
    background: #FF416C;  /* fallback for old browsers */!important;
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */!important;
background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */!important;

}
.predict_button{
    width: 20%;!important;

    margin: 2%;!important;
    background: #52c234;  /* fallback for old browsers */!important;
background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */!important;
background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */!important;


}

